body{
                font-family: "Montserrat", sans-serif;
            }
            
            #container{
                height: 100vh;
                background-image: url("images2/playful-kitten-6683.jpg");
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                border: 1px solid black;
                font-size: 4vh;
                position: relative;
            }
            
            h1{
                
                margin-left: 5vw;
                margin-top: 1vh;
            }
            
            .orange{
                color: orange;
                text-shadow: 2px 2px 2px black;
            }
            
            h2{
                font-size: 4vh;
                margin-left: 5vw;
                display: inline-block;
                vertical-align: top;
            }
            
            #netflix{
                width: 10vw;
                margin-top: -1vh;
                z-index: -1;
            }
            li{
                display: inline;
                float: right;
                margin-right: 2vw;
                padding-top: 52vh;
            }
            #paw{
                position: relative;
                top: 52vh;
                left: 0;
                transition: 1s;
                /*display: none;*/
            }
            li span{
                position: relative;
                transition: top 1s ease-in-out;
            }
            /*li::before{
                content: url("images2/pawprint.png");
                background-repeat: no-repeat;
                position: absolute;
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }
            li:hover::before{
                opacity: 1;
                animation: slide 1s;
            }*/
            
            li:hover span {
                top: -4vh;
            }
            /*@keyframes slide{
                from {
                    margin-left: -100%;
                }
                to {
                    margin-left: 0%;
                }
            }*/
