            body{
                font-family: "Montserrat", sans-serif;
                box-sizing: border-box;
            }
            
            #container{
                height: 100vh;
                background-image: url("images2/playful-kitten-6683.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                font-size: 4vh;
            }
            
            h1{
                
                margin-left: 2vw;
                margin-top: 1vh;
                margin-bottom: 2vh;
            }
            
            .orange{
                color: orange;
                text-shadow: 2px 2px 2px black;
            }
            
            h2{
                font-size: 3.6vh;
                margin-left: 2vw;
                display: inline-block;
                vertical-align: top;
            }
            
            #netflix{
                width: 7vw;
                margin-top: .5vh;
                z-index: -1;
            }
            li{
                display: inline;
                float: right;
                padding-left: 1vw;
                padding-right: 1vw;
                padding-bottom: 0;
                padding-top: 52vh;
                vertical-align: bottom;
            }
            #paw{
                position: relative;
                top: 52vh;
                left: 0;
                transition: 1s;
                max-width: 20px;
                height: auto;
                display: none;
            }
            li span{
                position: relative;
                transition: top .5s;
            }
            /*li::before{
                content: url("images2/pawprint.png");
                background-repeat: no-repeat;
                position: absolute;
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }
            li:hover::before{
                opacity: 1;
                animation: slide 1s;
            }*/
            
            li:hover span {
                padding-bottom: 4vh;
            }
            /*@keyframes slide{
                from {
                    margin-left: -100%;
                }
                to {
                    margin-left: 0%;
                }
            }*/
#schedule-popup {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,0,.8);
	color: orange;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 3px ridge orange;
	font-size: 0.9em;
}

.close {
	position: absolute;
	right: -2vh;
	top: -2vh;
	width: 4vh;
	height: 4vh;
	cursor: pointer;
}

td {
	vertical-align: top;
	padding-left: 0.25em;
}
